<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
<style>
  .bottom-three {
     margin-bottom: 1.5cm;
   }
  .bottom-small {
     margin-bottom: 1cm;
   }
</style>
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}
<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap" style="list-style-type: none;">
    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/business.png" alt="Work Experience" width="70" height="70"></p>
    <p align="center">&#8226 I am a <strong>Software Engineering Fellow</strong> at <a href="https://fellowship.mlh.io/" target="_blank">Major League Hacking</a>.</p>
    <p align="center">&#8226 I <strong>analyze</strong> and <strong>research</strong> prospects at <a href="https://www.caltech.edu/" target="_blank">Caltech</a>.</p>
    <p align="center" class="bottom-three">&#8226 I created a <strong>Microsoft Power Automate</strong> workflow as a <a href="https://www.case.org/talent-management/case-advancement-internship-program" target="_blank">CASE Intern</a>, resulting in 2 awards.</p>

    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/study2.png" alt="Education" width="70" height="70"></p>
    <p align="center">&#8226 I have a <strong>B.S.</strong> in Business Administration - Management, from <a href="https://imatge.upc.edu/web/ferran" target="_blank">UC Riverside</a>.</p>
    <p align="center" class="bottom-three">&#8226 I completed the <strong>Responsive Web Design</strong> coursework from <a href="https://www.freecodecamp.org/certification/gprmarquez/responsive-web-design" target="_blank">FreeCodeCamp</a>, learning <strong> HTML</strong> and <strong>CSS</strong>.</p>
    
    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/computer2.png" alt="Computer Skills" width="80" height="80"></p>
    <p align="center">&#8226 I have used <strong>Angular</strong> to create a frontend connecting to a <br>Flask backend with a MongoDB database </p>
    <p align="center">&#8226 We developed a game as first-time Unity developers using <strong>C#</strong></p>
    <p align="center">&#8226 I have conducted <strong>User Acceptance Testing</strong> for an automated routing tool.</p>
    <p align="center" class="bottom-three">&#8226 The first language I learned was <strong>Ruby</strong></p>

    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/talk.png" alt="Languages" width="70" height="70"></p>
    <p align="center">&#8226 Native <strong>English</strong> speaker.</p>
    <p align="center" class="bottom-three">&#8226 Naiintindihan at nabasa ko ang <strong>tagalog</strong>.</p>
    
    
    
    {{ content }}
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
